.headerProductContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerTitle {
  text-align: center;
}

.headerTitle h1 {
  font-size: 64px;
}

.headerTitle p {
  font-size: 18px;
  width: 600px;
}

@media screen and (max-width: 767px) {
  .headerTitle h1 {
    font-size: 35px;
  }

  .headerTitle p {
    font-size: 14px;
    width: 370px;
  }
}
