.productSearchbar {
  display: flex;
  justify-content: center;

  padding-top: 20px;
  padding-bottom: 50px;
}

.productSearchbox input {
  box-sizing: border-box;
  width: 810px;
  height: 84px;
  border: none;
}

.productSearchbox input[type="text"] {
  background-image: url("../../../assets/search-normal.png");
  background-position: 30px 25px;
  background-repeat: no-repeat;

  font-size: 18px;

  padding-left: 80px;
}

.productSearchbox button {
  width: 170px;
  height: 84px;

  font-size: 18px;

  color: white;
  background-color: #518581;
  border: none;

  cursor: pointer;
  transition: 0.5s;
}

.productSearchbox button:hover {
  background-color: #5a948f;
}
