.Navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 100px;
  padding-right: 100px;
  background-color: white;
  border-bottom: 2px solid #f3f3f3;
}

.ListMenu {
  display: flex;
}

.Menu {
  display: inline-block;
  position: relative;
  list-style: none;
  margin-left: 30px;
}

.Menu a {
  color: black;
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;
  padding-bottom: 45px;
}

.Menu a:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: -48px;
  left: 0;
  background-color: #518581;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.Menu a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
  /* border-bottom: 3px solid #518581; */
}

.Active {
  border-bottom: 3px solid #518581;
}

.btnSignUp,
.btnLogIn {
  width: 90px;
  height: 40px;
  background-color: white;
  border-radius: 5px;
  border-color: 1px black;
  border-width: 1px;
  color: black;
  cursor: pointer;
  transition: 0.3s ease-in;
}

.btnLogIn {
  border: none;
  color: white;
  background-color: #518581;
  margin-left: 15px;
}

.btnSignUp {
  border: 1px solid #518581;
}

.btnSignUp a,
.btnLogIn a {
  color: white;
  text-decoration: none;
}

.btnSignUp a {
  color: black;
}

.btnLogIn:hover {
  background-color: #63a19c;
}

.btnSignUp:hover,
.btnSignUp a:hover {
  background-color: #518581;
  color: white;
}

.btnUserCart {
  background-color: white;
  border: none;
  margin-right: 30px;
}

.ButtonUserLogin {
  display: flex;
  align-items: center;
}

.ButtonUserLogin a {
  text-decoration: none;
}

.btnUserAccount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border: none;
  border-radius: 10px;
  padding: 10px;
  /*   width: 180px; */
  height: 50px;

  font-size: 15px;
}

.btnUserAccount a {
  text-decoration: none;
}

.btnUserAccount img {
  width: 40px;
  border-radius: 50px;
  margin-right: 10px;
}

.dropDown {
  position: relative;
  display: inline-block;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: white;
  border-radius: 10px;
  width: 300px;
  height: 150px;
  right: -0%;
  /* min-width: 160px; */
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdownContent p {
  text-align: center;
  font-weight: 500;
}

.dropdownContent a {
  width: 100px;
  text-decoration: none;
  color: black;
  font-size: 15px;
  padding-bottom: 5px;
}

.dropDown:hover .dropdownContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profileBtn,
.logOutBtn {
  display: flex;
  align-items: center;
  height: 40px;
  margin-bottom: 10px;
  cursor: pointer;
}

.profileBtn:hover,
.logOutBtn:hover {
  border-left: 3px solid #518581;
}

.profileBtn svg,
.logOutBtn svg {
  margin-left: 10px;
}

.profileBtn a,
.logOutBtn a {
  margin-left: 20px;
}

.hamburgermenumobile {
  display: none;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: relative;
  width: 35px;
  height: 20px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: none;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
  top: 0;
}

/* General sidebar styles */
.bm-menu {
  background: white;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

/* Individual item */
.bm-item {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 25px;
}

/* Styling of overlay */
.bm-overlay {
  display: none;
  background: rgba(0, 0, 0, 0.3);
}

@media screen and (min-device-width: 640px) and (max-device-width: 1024px) {
  .Navigation {
    padding-left: 20px;
    padding-right: 20px;
  }

  .ListMenu {
    display: none;
  }

  .ButtonNav {
    display: none;
  }

  .hamburgermenumobile {
    display: block;
  }

  .ButtonNav button {
    margin-left: 0px;
  }
}

@media screen and (max-device-width: 639px) {
  .Navigation {
    padding-left: 20px;
    padding-right: 20px;
  }

  .ListMenu {
    display: none;
  }

  .ButtonNav {
    display: none;
  }

  .hamburgermenumobile {
    display: block;
  }

  .ButtonNav button {
    margin-left: 0px;
  }
}
