.ContainerCheckoutSuccess {
  display: flex;
  align-items: center;
  flex-direction: column;

  padding: 100px;
}

/* .ContainerCheckoutSuccess p {
  font-size: 25px;
} */

.countDownTimer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(238, 238, 238);
  border: 1px solid #518581;
  border-radius: 5px;
  width: 800px;
  height: 250px;
}

.countDownTimer p {
  width: 400px;
  text-align: center;
  font-size: 14px;
  color: red;
  margin-top: 0px;
  margin-bottom: 0px;
}

.line {
  width: 800px;
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.transfer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 800px;
  border-radius: 5px;

  margin-top: 20px;
}

.transfer h3 {
  margin-bottom: 5px;
}

.transfer p {
  color: #518581;
  font-weight: 500;
}

.norek {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
}

.norek h4 {
  margin-left: 0px;
}

.jumlahPembayaran {
  display: flex;
  flex-direction: column;
  width: 800px;

  margin-top: 20px;
}

.jumlahPembayaran h3 {
  margin-bottom: 10px;
}

.jumlahPembayaran h2 {
  margin-top: 0px;
  color: orangered;
}

.goToHistory p {
  color: #518581;
  font-weight: 500;
}

.infoStatement {
  width: 700px;
  text-align: center;
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
  .countDownTimer {
    width: 700px;
  }

  .jumlahPembayaran {
    width: 700px;
  }
}

@media screen and (max-width: 767px) {
  .ContainerCheckoutSuccess {
    padding: 0px;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .ContainerCheckoutSuccess h2:first-child {
    font-size: 20px;
  }

  .countDownTimer {
    width: 300px;
  }

  .countDownTimer h3 {
    font-size: 15px;
    text-align: center;
    margin-bottom: 0px;
  }

  .countDownTimer p {
    width: 280px;
    font-size: 13px;
  }

  .transfer {
    width: 300px;
  }

  .transfer h3 {
    font-size: 18px;
  }

  .jumlahPembayaran {
    width: 300px;
  }

  .infoStatement {
    width: 340px;
    font-size: 15px;
    margin-bottom: 50px;
  }

  .line {
    width: 300px;
  }
}
