.CarouselImgContainer {
  padding-top: 50px;
  padding-bottom: 50px;
}

.CarouselImgContainer img {
  width: 100%;
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
  .CarouselImgContainer {
    height: 300px;
    margin-bottom: 50px;
  }
}
